@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/InboxMember.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body class="body-background">


    <section>
        <input type="checkbox" id="mobile-menu" style="display: none;">
        <nav>
            <aside>
                <ul>

                    <li><label for="mobile-menu"><i class="fa fa-bars"></i></label></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="fa fa-edit"></i>Compose-mail</a></li>
                </ul>
                <ul>
                    <li class="active"><a href="#"><i class="fa fa-envelope-o"></i>Inbox</a></li>
                    <li>
                        <a href="#">
                            <i class="fa fa-paper-plane-o"></i><span>Send</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-comments-o"></i><span>Chat</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-exclamation-triangle"></i><span>Spam</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-archive"></i><span>Archive</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-trash"></i><span>Trash</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar"></i><span>Calendar</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-files-o"></i><span>Invoice</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li><a href="proiect.html"><i class="fa fa-sign-out"></i>Log-out</a></li>
                </ul>
            </aside>

            <header>
                <span>Inbox</span>
                <span>&#124;</span>
                <form action="">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="search">

                </form>
                <i class="fa fa-comments"></i>
                <i class="fa fa-bell-o"></i>
                |

                <a href="#"> <i class="fa fa-home"></i></a>
                <img src="~/img/man.png" alt="">
            </header>
        </nav>

        <main>
            <div class="header">
                <input type="checkbox" id="select-all">
                <ul>
                    <li><i class="fa fa-archive"></i></li>
                    <li><i class="fa fa-exclamation-triangle"></i></li>
                    <li><i class="fa fa-trash"></i></li>
                </ul>
                <select name="" id="" class="fa">
                    <option value="fa fa-share-alt">&#xf1e0;</option>
                    <option value="fa fa-share-square">&#xf14d;</option>
                </select>

                <select name="" id="" class="fa">
                    <option value="fa fa-cloud-download">&#xf0ed;</option>
                    <option value="fa fa-download">&#xf019;</option>
                </select>

                <select name="" id="" class="fa">
                    <option value="fa fa-tags">&#xf02b;</option>
                    <option value="fa fa-tags">&#xf02c;</option>
                </select>


            </div>

            <div class="inbox-body">
                <ul>
                    <li>
                        <input type="checkbox" class="single-check">
                        <i class="fa fa-star"></i>
                        <a href="InvitationEventMember"><img src="~/img/arab-woman.png" alt=""></a>
                        <h5>Alma</h5>
                        <div>
                            <h5>Event Invitation</h5>
                            <p>Dear Eliot,</p>
                            <p>
                                You are invited to immerse yourself in a truly unique experience at our Wine and Painting event.
                                Indulge your senses as we ...
                            </p>
                        </div>

                    </li>

                    <li>
                        <input type="checkbox" class="single-check">
                        <i class="fa fa-star"></i>
                        <img src="~/img/girl.png" alt="">
                        <h5>Daria</h5>
                        <div>
                            <h5>Subject</h5>
                            <p>.................................................................................</p>
                        </div>

                    </li>

                    <li>
                        <input type="checkbox" class="single-check">
                        <i class="fa fa-star"></i>
                        <img src="~/img/arab-woman.png" alt="">
                        <h5>Alma</h5>
                        <div>
                            <h5>Subject</h5>
                            <p>.................................................................................</p>
                        </div>

                    </li>

                    <li>
                        <input type="checkbox" class="single-check">
                        <i class="fa fa-star"></i>
                        <img src="~/img/man1.png" alt="">
                        <h5>David</h5>
                        <div>
                            <h5>Subject</h5>
                            <p>.................................................................................</p>

                    </li>

                    <li>
                        <input type="checkbox" class="single-check">
                        <i class="fa fa-star"></i>
                        <img src="~/img/woman1.png" alt="">
                        <h5>Rahela</h5>
                        <div>
                            <h5>Subject</h5>
                            <p>.................................................................................</p>

                    </li>

                    <li>
                        <input type="checkbox" class="single-check">
                        <i class="fa fa-star"></i>
                        <img src="~/img/arab-woman.png" alt="">
                        <h5>Alma</h5>
                        <div>
                            <h5>Subject</h5>
                            <p>.................................................................................</p>
                        </div>

                    </li>

                    <li>
                        <input type="checkbox" class="single-check">
                        <i class="fa fa-star"></i>
                        <img src="~/img/woman.png" alt="">
                        <h5>Elena</h5>
                        <div>
                            <h5>Subject</h5>
                            <p>.................................................................................</p>
                        </div>

                    </li>

                    <li>
                        <input type="checkbox" class="single-check">
                        <i class="fa fa-star"></i>
                        <img src="~/img/grandfather.png" alt="">
                        <h5>Cristian</h5>
                        <div>
                            <h5>Subject</h5>
                            <p>.................................................................................</p>
                        </div>

                    </li>

                </ul>

            </div>
        </main>
    </section>

</body>


</html>

<script type="text/javascript">

    let select_all = document.getElementById('select-all');
    let single_check = document.getElementsByClassName('single-check');

    select_all.onclick = () => {
        for (let i = 0; i < single_check.length; i++) {
            if (select_all.checked == true) {
                single_check[i].checked = true;
            }

            else {
                single_check[i].checked = false;
            }
        }

    }


</script>