@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/InvitationEventMember.css">
</head>

<body class="background-invitation">

    <div class="hero">

        <nav>
            <img src="~/img/Screenshot_2024-05-07_185200-removebg-preview.png" class="logo">
         
        </nav>

        <div class="case">
            <div class="box-invitation">
                <h1>You're Invited! </h1>
                <h6>Dear Eliot ,</h6>

                <h2>You are invited to immerse yourself in a truly unique experience at our Wine and Painting event.</h2>
                <h3>Indulge your senses as we journey through an evening of artistic expression and fine wine. Let the ambiance of creativity inspire you as you sip on exquisite wines and unleash your imagination on canvas.</h3>

                <h4>This event is a celebration of both art and friendship, an opportunity to connect with fellow enthusiasts and explore the depths of your creativity. Whether you're a seasoned painter or just beginning your artistic journey, this gathering promises to be a night to remember.</h4>
                <h5>Join us as we create memories, share stories, and toast to the beauty of life.</h5>
                <p>We look forward to seeing you there!</p>
                <h6>Warm regards,</h6>
                <h6>Alma</h6>
            </div>


            <div class="alegeri">
                <div class="buton-choose">
                    <a href="#" class="btn-choose">Accept Event Invitation</a>
                </div>

                <div class="buton-choose">
                    <a href="#" class="btn-choose1">Deny Event Invitation</a>
                </div>
            </div>
            <hr class="line">

            <div class="event-description">
                <div class="event-detail">
                    <div class="buton">
                        <a href="SingleEvent" class="btn">Check Event</a>
                    </div>
                </div>
            </div>
        </div>


      @*   <script>

            let subMenu = document.getElementById("subMenu");
            function toggleMenu() {
                subMenu.classList.toggle("open-menu");
            }
        </script> *@
</body>
</html>