@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/SingleEvent.css">
    <script src="/js/EventSlider.js" defer></script>
</head>



<body class="single-event">


    <div class="hero">

        <nav>
            <img src="~/img/Screenshot_2024-05-07_185200-removebg-preview.png" class="logo">
           


        </nav>



        <div class="case">
            <div class="event1">
                <h1>Wine and Painting </h1>
                <h6>Creator: Alma</h6>
                <hr class="line">
                <h2>Bucharest , Romania</h2>
                <h3>100$</h3>
                <hr class="line2">
                <h4>Juniper Way Street no. 23</h4>
                <h5>Thursday , July 04 , 7:00 P.M.</h5>
                <p>Experience a unique night of wine and painting in a relaxing and inspiring environment. Surround yourself with art and enjoy wine tastings while letting your creativity flow on the canvas. Whether you are a beginner or a seasoned artist, this experience is open to anyone who wants to explore art and wine.</p>
            </div>

            <div class="picture"></div>
        </div>

        <hr class="page-line">

        <section class="container-pic">
            <div class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="~/img/aphrodite.jpg" />
                    <img id="slide-2" src="~/img/flori.jpeg" />
                    <img id="slide-3" src="~/img/grapes.jpg" />
                    <img id="slide-4" src="~/img/creation.jpg" />
                </div>

                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                    <a href="#slide-4"></a>
                </div>
            </div>
        </section>


    

</body>

</html>